body {
    background-color: rgb(39, 39, 177);
    font: normal 15pt Arial;
  }
  
  header {
    color: white;
    text-align: center;
  }
  
  section {
    background-color: white;
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.432);
  }
  
  footer {
    color: white;
    text-align: center;
    font-style: italic;
  }
  
  div {
    text-align: center;
    padding: 15px;
  }
  